*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #BBCE66;
}
.navbarp{
    height: 18vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.748);
}
.navbarp .logop{
    text-align: center;
}

.logop img{
    height: 40vh;
    width: 30%;
    background-size: 100% 100%;
    text-align: center;
    justify-content: center;
}
#final{
    text-align: center;
    position: relative;
    top: 15px;
}
.form{
    height: 70vh;
    width: 100%;
    background-color: #BBCE66;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
.form .form1{
    height: 60vh;
    width: 70%;
    text-align: center;
}
#name , #phone, #address, #pin{
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
}
#submit{
    background-color: green;
    border: none;
    outline: none;
    color: white;
    padding: 5px 50px;
    box-shadow: 2px 5px 5px black;
}
.copyright{
    margin-top: 20vh;
    width: 100%;
    text-align: center;
}

/* responsive  */

@media(max-width:570px){
    .logop img{
        height: 40vh;
        width: 50%;
    }
}