@media (max-width: 1324px) {
  .landing {
    height: 90vh;
  }
  .facility {
    height: 60vh;
  }
  .cont1 {
    flex-direction: column;
  }
  .cont1 .ph {
    margin-top: 20px;
    width: 40%;
  }
  .ph .pl {
    width: 15%;
    margin-right: 38px;
  }
  .ph .ph1 {
    font-size: 1.5rem;
  }
  .cont1 .mail {
    margin-top: 20px;
  }
}

@media (max-width: 930px) {
  .landing {
    height: 130vh;
  }
  .landing .con1 {
    top: 200px;
    flex-direction: column;
  }
  .con1 .grocery {
    position: relative;
    top: 120px;
  }
  .rightnav {
    width: 50%;
  }
  .line2 .location {
    width: 30%;
  }

  .facility {
    height: 190vh;
  }
  .facility .con2 {
    display: flex;
    height: 90%;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
  .con2 .f1,
  .f2,
  .f3,
  .f4 {
    width: 60%;
  }

  .ablogo1 {
    height: 90%;
    width: 80%;
    transform: translate(0%, 10%);
    margin-top: -30px;
    margin-left: 20px;
  }
  .aboutpg {
    margin-top: 50px;
  }
}

@media (max-width: 600px) {
  .ablogo1 {
    height: 90%;
    width: 80%;
    transform: translate(0%, 10%);
  }
  .navbar .logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo img {
    height: 32vh;
    width: 100%;
    margin-left: -30px;
  }
  .rightnav .line2 .location {
    width: 40%;
    height: 20%;
    margin-left: 15%;
  }
  .rightnav .line2 .account {
    width: 40%;
    height: 20%;
    font-size: 0.8rem;
  }
}
@media (max-width: 400px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo img {
    height: 32vh;
    width: 100%;
    margin-left: -30px;
  }
  .ablogo1 {
    height: 90%;
    width: 100%;
    transform: translate(-10%, 10%);
    margin-top: -20px;
    margin-left: 6px;
  }
  .linkc {
    font-size: 0.3rem;
  }
  .fc1,
  .fc2,
  .fc3,
  .fc4 {
    font-size: 0.8rem;
  }
}
@media (max-width: 350px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo img {
    height: 32vh;
    width: 100%;
    margin-left: -30px;
  }
  .ablogo1 {
    height: 80%;
    width: 100%;
    transform: translate(-10%, 10%);
    margin-top: 0px;
    margin-left: 0px;
  }
  .abc1 {
    height: 38vh;
    margin-top: -30px;
  }
  .rightnav .line2 .account {
    width: 40%;
    height: 20%;
    font-size: 0.6rem;
  }
}
